@CHARSET "UTF-8";
body{
	color:#EFEFEF;
	margin:0 auto;
	background-color: #050505;
}
div.SVG-Container{
	width:100%;
	height:100%;
	padding: 5px 5px 5px 5px;
}
svg{
	position:absolute;
}
svg#canvas{
	margin:auto;
	/*width:100%;
	height:100%;*/
	background:linear-gradient(to bottom,#CDCDFF,#FFFF99);
}
svg path.bgGrid{
	left:0px;
	top:0px;
	stroke:#A0A0A0;
	stroke-width:1px;
	shape-rendering: crispEdges;
	stroke-linecap:round;
	stroke-dasharray:2,2;
	opacity:.85;
}
svg rect.emptyBgRect{
	fill:none;
	opacity:0;
}
.button01 rect:hover{
	fill:#A9A9A9;
	stroke-width:5;
	stroke:#FF9999;
}