@CHARSET "UTF-8";
body{
	color:#EFEFEF;
	margin:0 auto;
	background-color: #050505;
}
div.SVG-Container{
	width:100%;
	height:100%;
	padding: 5px 5px 5px 5px;
}
svg{
	position:absolute;
}
svg#canvas{
	margin:auto;
	/*width:100%;
	height:100%;*/
	background:linear-gradient(to bottom,#CDCDFF,#FFFF99);
}
svg path.bgGrid{
	left:0px;
	top:0px;
	stroke:#A0A0A0;
	stroke-width:1px;
	shape-rendering: crispEdges;
	stroke-linecap:round;
	stroke-dasharray:2,2;
	opacity:.85;
}
svg rect.emptyBgRect{
	fill:none;
	opacity:0;
}
.button01 rect:hover{
	fill:#A9A9A9;
	stroke-width:5;
	stroke:#FF9999;
}

/***************************************** ADATBAZIS TABLAK FORMATUMA *********************************/
#svg-canvas{
	background-color:#E8E8D8;
	border:2px solid #C7C7B7;
}
.table-grid{
	background-color:#EFEFEF;
}
.tblHeader{
	font-family:"Courier new";
	fill:#020202;
	stroke:none;
	font-size:22px;
	font-weight:bold;
	text-anchor:middle;
}
.fldName{
	font-family:"Courier new";
}
.stdHdr1{
	fill:#FFFFFF;
	stroke:none;
	font-family:"Courier New";
	font-weight:bold;
}
.fldOUT{
	font-weight:bold;
	fill:#252599;
	text-decoration:underline;
}
.fldNone{
	fill:#ADADAD;
}
path.stdTableLink{
	fill:none;
	stroke:#00AADD;
	stroke-width:3;
	opacity:.65;
	/*stroke-dasharray:7,3;*/
}
path.stdTableLink:hover{
	fill:none;
	
	stroke:#0055FF;
	stroke-width:4;
	opacity:1;
}
div#tooltipDiv{
	position:absolute;
	font-family:"Tahoma";
	font-size:18px;
	box-shadow:4px 4px 6px #050505;
	border-radius:5px;
}